@page "/add-offer"

<PageTitle>Adaugă ofertă ajutor</PageTitle>

<MudPaper Class="mt-5 pa-4">
    <h3>Adaugă ofertă ajutor</h3>
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudTextField T="string" Label="Nume" Required="true" RequiredError="Numele este necesar!" />
        <MudTextField T="string" Label="Telefon" Required="true" RequiredError="Telefonul este necesar!" />

        <MudSwitch @bind-Checked="@OffersTransport" Label="Transport" />
        <div hidden="@(!OffersTransport)">
            <MudSelect @bind-SelectedValues="SelectedCities" T="string" Label="Destinație" MultiSelection="true" Required="@OffersTransport">
                @foreach (var city in Citites)
                {
                    <MudSelectItem T="string" Value="@city">@city</MudSelectItem>
                }
            </MudSelect>
            <MudNumericField @bind-Value="Capacity" Label="Nr. locuri" Min="1" Max="100" Required="@OffersTransport" />
            <MudNumericField @bind-Value="@CarSeatCapacity" Label="Nr. scaune copil" Min="0" Max="100" Required="@OffersTransport" />
            <MudDatePicker @bind-Date="SelectedDate" Label="Data plecării" DateFormat="dd.MM.yyyy" Required="@OffersTransport" />
            <MudTimePicker @bind-Time="SelectedTime" Label="Ora plecării" Required="@OffersTransport" />
        </div>

        <MudSwitch @bind-Checked="@OffersHousing" Label="Cazare" />
        <div hidden="@(!OffersHousing)">
            <MudSelect @bind-value="SelectedCity" T="string" Label="Oraș" Required="@OffersHousing">
                @foreach (var city in Citites)
                {
                    <MudSelectItem T="string" Value="@city">@city</MudSelectItem>
                }
            </MudSelect>
            <MudNumericField @bind-Value="People" Label="Nr. adulți" Min="0" Max="1000" Required="@OffersHousing" />
            <MudNumericField @bind-Value="Children" Label="Nr. copii" Min="0" Max="1000" Required="@OffersHousing" />
            <MudSwitch @bind-Checked="@AllowsPets" Label="Animale domestice" />
            <MudSelect @bind-value="Period" T="string" Label="Perioadă" Required="@OffersHousing">
                <MudSelectItem T="string" Value="@("TODO")">1 - 3 zile</MudSelectItem>
                <MudSelectItem T="string" Value="@("TODO")">3 zile - 1 săptămână</MudSelectItem>
                <MudSelectItem T="string" Value="@("TODO")">1 săptămână - 2 săptămâni</MudSelectItem>
                <MudSelectItem T="string" Value="@("TODO")">2 săptămâni - 1 lună</MudSelectItem>
                <MudSelectItem T="string" Value="@("TODO")">1 lună - 2 luni</MudSelectItem>
                <MudSelectItem T="string" Value="@("TODO")">nedeterminat</MudSelectItem>
            </MudSelect>
        </div>

        <div class="d-flex align-center justify-space-between mt-6">
            <MudButton Link="/" Variant="Variant.Outlined" Color="Color.Dark"
                       StartIcon="@Icons.Filled.ArrowBackIosNew" Class="mx-2">
                Înapoi
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                       OnClick="@(()=>form.Validate())" Disabled="@(!success)">
                Salvează
            </MudButton>
        </div>
    </MudForm>
</MudPaper>

@code {
    bool success;
    string[] errors = { };
    MudForm form;
    private string[] Citites =
    {
        "Oriunde", "Cluj-Napoca", "București", "Oradea",
    };

    private bool OffersTransport = false;
    private IEnumerable<string> SelectedCities = new HashSet<string>() { };
    private int Capacity = 0;
    private int CarSeatCapacity = 0;
    private DateTime? SelectedDate = DateTime.Today;
    private TimeSpan? SelectedTime = new TimeSpan(12, 00, 00);

    private bool OffersHousing = false;
    private string SelectedCity = string.Empty;
    private int People = 0;
    private int Children = 0;
    private bool AllowsPets = false;
    private string Period = string.Empty; // TODO: turn into Enum
}