@page "/add-offer"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>Adaugă ofertă ajutor</PageTitle>

<MudPaper Class="mt-5 pa-4">
    <h3>Adaugă ofertă ajutor</h3>
    <MudForm Model="@request" @ref="@form" @bind-Errors="@errors"
             Validation="@(offerValidator.ValidateValue)" ValidationDelay="0">
        <MudTextField @bind-Value="request.Name" For="@(() => request.Name)" Label="Nume" Class="mt-4" />
        <MudTextField @bind-Value="request.Phone" For="@(() => request.Phone)" Label="Telefon" Class="mt-4" />

        <div class="mt-6">
            <MudSwitch @bind-Checked="@request.Transport.IsOffered" For="@(() => request.Transport.IsOffered)"
                       Label="Transport" Color="Color.Primary" />
            <div hidden="@(!request.Transport.IsOffered)">
                <MudAutocomplete @bind-Value="request.Transport.StartingPoint" For="@(() => request.Transport.StartingPoint)"
                                 ResetValueOnEmptyText="@true" CoerceText="@true" SearchFunc="SearchStartingPoint" Label="Loc de plecare" />
                <MudAutocomplete @bind-Value="request.Transport.Destination.Region" T="RegionModel" For="@(() => request.Transport.Destination.Region)"
                                 ResetValueOnEmptyText="@true" CoerceText="@true" SearchFunc="SearchRegion" ToStringFunc="@(x => x.Name)"
                                 Label="Destinație (județ)" />
                <MudAutocomplete @bind-Value="request.Transport.Destination.City" T="CityModel" For="@(() => request.Transport.Destination.City)"
                                 ResetValueOnEmptyText="@true" CoerceText="@true" SearchFunc="SearchTransportCity" ToStringFunc=@(x => x.Name)
                                 Label="Destinație (oraș)" Disabled=@(request.Transport.Destination.Region.Id == 0) />
                <MudNumericField @bind-Value="request.Transport.AdultSeats" For="@(() => request.Transport.AdultSeats)"
                                 Label="Nr. locuri adulți" Min="1" Max="100" Class="mt-4" />
                <MudNumericField @bind-Value="@request.Transport.ChildSeats" For="@(() => request.Transport.ChildSeats)"
                                 Label="Nr. scaune copil" Min="0" Max="100" Class="mt-4" />
                <MudDatePicker @bind-Date="request.Transport.ExpiryDate" For="@(() => request.Transport.ExpiryDate)"
                               PickerVariant="PickerVariant.Dialog" DateFormat="dd.MM.yyyy" DisableToolbar="true"
                               Label="Data plecării" Color="Color.Secondary" Class="mt-4" />
                <MudTimePicker @bind-Time="request.Transport.ExpiryTime" For="@(() => request.Transport.ExpiryTime)"
                               PickerVariant="PickerVariant.Dialog" Color="Color.Secondary" Label="Ora plecării" Class="mt-4" />
            </div>
        </div>

        <div class="mt-6">
            <MudSwitch @bind-Checked="@request.Shelter.IsOffered" For="@(() => request.Shelter.IsOffered)"
                       Label="Adăpost" Color="Color.Primary" />
            <div hidden="@(!request.Shelter.IsOffered)">
                <div hidden="@(request.Transport.IsOffered)">
                    <MudAutocomplete @bind-Value="request.Shelter.Address.Region" T="RegionModel" For="@(() => request.Shelter.Address.Region)"
                                     ResetValueOnEmptyText="@true" CoerceText="@true" SearchFunc="SearchRegion" ToStringFunc="@(x => x.Name)"
                                     Label="Județ" />
                    <MudAutocomplete @bind-Value="request.Shelter.Address.City" T="CityModel" For="@(() => request.Shelter.Address.City)"
                                     ResetValueOnEmptyText="@true" CoerceText="@true" SearchFunc="SearchShelterCity" ToStringFunc=@(x => x.Name)
                                     Label="Oraș" Disabled=@(request.Shelter.Address.Region.Id == 0) />
                </div>
                <MudSelect @bind-Value="request.Shelter.Period" For="@(() => request.Shelter.Period)"
                           Label="Perioadă" Class="mt-2">
                    @foreach (var timePeriod in timePeriods)
                    {
                        <MudSelectItem Value="@timePeriod">
                            @timePeriod.Text()
                        </MudSelectItem>
                    }
                </MudSelect>
                <MudNumericField @bind-Value="request.Shelter.AdultCapacity" For="@(() => request.Shelter.AdultCapacity)"
                                 Label="Nr. adulți" Min="0" Max="1000" Class="mt-4" />
                <MudNumericField @bind-Value="request.Shelter.ChildrenCapacity" For="@(() => request.Shelter.ChildrenCapacity)"
                                 Label="Nr. copii" Min="0" Max="1000" Class="mt-4" />
                <MudSwitch @bind-Checked="@request.Shelter.AllowsPets" For="@(() => request.Shelter.AllowsPets)"
                           Label="Animale domestice" Color="Color.Success" Class="mt-4" />
            </div>
        </div>

        <div class="mt-10">
            <div class="mb-6">
                @foreach (var error in errors)
                {
                    <MudText Color="@Color.Error">@error</MudText>
                }
            </div>
            <div class="d-flex align-center justify-space-between">
                <MudButton Link="/" Variant="Variant.Outlined" Color="Color.Dark"
                           StartIcon="@Icons.Filled.ArrowBackIosNew" Class="mx-2">
                    Înapoi
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                           OnClick="@(async () => await Submit())">
                    Salvează
                </MudButton>
            </div>
        </div>
    </MudForm>
</MudPaper>

@code {

    private string[] errors = { };
    private MudForm form = new MudForm();

    private AddOfferRequest request = new AddOfferRequest();
    private AddOfferRequestValidator offerValidator = new AddOfferRequestValidator();

    private string[] startingPoints = new string[] { };
    private IEnumerable<TimePeriod> timePeriods = new HashSet<TimePeriod>
    {
        TimePeriod.OneToThreeDays,
        TimePeriod.ThreeDaysToAWeek,
        TimePeriod.OneToTwoWeeks,
        TimePeriod.ThreeToFourWeeks,
        TimePeriod.OneToTwoMonths,
        TimePeriod.Indefinite,
    };

    private async Task<IEnumerable<string>> SearchStartingPoint(string value)
    {
        try
        {
            var startingPoints = await Http.GetFromJsonAsync<string[]>("/api/GetStartingPoints") ?? new string[] { };

            if (string.IsNullOrEmpty(value))
            {
                return startingPoints;
            }

            return startingPoints.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }
        catch (Exception)
        {
            Snackbar.Add("Locurile de plecare nu au putut fi încărcate!", Severity.Error);
            return new string[] { };
        }
    }

    private async Task<IEnumerable<RegionModel>> SearchRegion(string value)
    {
        return Cache.Regions.Where(r => r.NormalizedName.Contains(value.LookupNormalize()));
    }

    private async Task<IEnumerable<CityModel>> SearchTransportCity(string value)
    {
        return Cache.Cities
            .Where(c => c .RegionId == request.Transport.Destination.Region.Id)
            .Where(r => r.NormalizedName.Contains(value.LookupNormalize()));
    }

    private async Task<IEnumerable<CityModel>> SearchShelterCity(string value)
    {
        return Cache.Cities
            .Where(c => c .RegionId == request.Shelter.Address.Region.Id)
            .Where(r => r.NormalizedName.Contains(value.LookupNormalize()));
    }

    private async Task Submit()
    {
        await form.Validate();

        if (form.IsValid)
        {
            await Http.PostAsJsonAsync("/api/AddOffer", request);

            Snackbar.Add("Oferta a fost salvată.", Severity.Success);

            NavigationManager.NavigateTo("/");
        }
    }
}