@page "/add-offer"
@using BlazorApp.Shared

<PageTitle>Adaugă ofertă ajutor</PageTitle>

<MudPaper Class="mt-5 pa-4">
    <h3>Adaugă ofertă ajutor</h3>
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudTextField @bind-Value="request.Name" T="string" Label="Nume" Class="mt-4"
                      Required="true" RequiredError="Numele este necesar!" />
        <MudTextField @bind-Value="request.Phone" T="string" Label="Telefon" Class="mt-4"
                      Required="true" RequiredError="Telefonul este necesar!" />

        <div class="mt-6">
            <MudSwitch @bind-Checked="@request.Transport.IsOffered" Label="Transport" Color="Color.Primary" />
            <div hidden="@(!request.Transport.IsOffered)">
                <MudSelect @bind-SelectedValues="request.Transport.Cities" T="string" Label="Destinație" MultiSelection="true"
                           Required="@request.Transport.IsOffered" RequiredError="Destinația este necesară!">
                    @foreach (var city in Citites)
                    {
                        <MudSelectItem T="string" Value="@city">@city</MudSelectItem>
                    }
                </MudSelect>
                <MudNumericField @bind-Value="request.Transport.AdultCapacity" Label="Nr. locuri adulți" Min="1" Max="100" Class="mt-4"
                                 Required="@request.Transport.IsOffered" RequiredError="Nr. de locuri pentru adulți este necesar!" />
                <MudNumericField @bind-Value="@request.Transport.CarSeatCapacity" Label="Nr. scaune copil" Min="0" Max="100" Class="mt-4"
                                 Required="@request.Transport.IsOffered" RequiredError="Nr. de scaune pentru copii este necesar!" />
                <MudDatePicker @bind-Date="request.Transport.ExpiryDate" Label="Data plecării" DateFormat="dd.MM.yyyy" Class="mt-4"
                               Required="@request.Transport.IsOffered" RequiredError="Data plecării este necesară!" />
                <MudTimePicker @bind-Time="request.Transport.ExpiryTime" Label="Ora plecării" Class="mt-4"
                               Required="@request.Transport.IsOffered" RequiredError="Ora plecării necesară!" />
            </div>
        </div>

        <div class="mt-6">
            <MudSwitch @bind-Checked="@request.Housing.IsOffered" Label="Cazare" Color="Color.Primary" />
            <div hidden="@(!request.Housing.IsOffered)">
                <MudSelect @bind-value="request.Housing.City" T="string" Label="Oraș"
                           Required="@request.Housing.IsOffered" RequiredError="Orașul este necesar!">
                    @foreach (var city in Citites)
                    {
                        <MudSelectItem T="string" Value="@city">@city</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect @bind-value="request.Housing.Period" T="HousingPeriod" Label="Perioadă" Class="mt-2"
                           Required="@request.Housing.IsOffered" RequiredError="Perioada este necesară!">
                    @foreach (var period in housingPeriods)
                    {
                        <MudSelectItem T="HousingPeriod" Value="@period">@period.ToString()</MudSelectItem>
                    }
                </MudSelect>
                <MudNumericField @bind-Value="request.Housing.AdultCapacity" Label="Nr. adulți" Min="0" Max="1000" Class="mt-4"
                                 Required="@request.Housing.IsOffered" RequiredError="Nr. de adulți este necesar!" />
                <MudNumericField @bind-Value="request.Housing.ChildrenCapacity" Label="Nr. copii" Min="0" Max="1000" Class="mt-4"
                                 Required="@request.Housing.IsOffered" RequiredError="Nr. de copii este necesar!" />
                <MudSwitch @bind-Checked="@request.Housing.AllowsPets" Label="Animale domestice" Color="Color.Success" Class="mt-4" />
            </div>
        </div>

        <div class="d-flex align-center justify-space-between mt-6">
            <MudButton Link="/" Variant="Variant.Outlined" Color="Color.Dark"
                       StartIcon="@Icons.Filled.ArrowBackIosNew" Class="mx-2">
                Înapoi
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                       OnClick="@(()=>form.Validate())" Disabled="@(!success)">
                Salvează
            </MudButton>
        </div>
    </MudForm>
</MudPaper>

@code {
    private bool success;
    private string[] errors = { };
    private MudForm form;
    private string[] Citites =
        {
        "Oriunde", "Cluj-Napoca", "București", "Oradea",
    };
    private HousingPeriod[] housingPeriods = (HousingPeriod[])Enum.GetValues(typeof(HousingPeriod));

    public AddOfferRequest request = new AddOfferRequest();
}