@page "/search-results"

@inject HttpClient Http
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<div class="mt-5">
    <MudTabs Elevation="0" Rounded="true" Border="true" ApplyEffectsToContainer="false" PanelClass="pt-4">
        <MudTabPanel Text="Transport" Icon="@Icons.Filled.TimeToLeave" >
            @foreach (var transport in Result.TransportResults.Where(t => t.IsActive))
            {
                <MudCard Class="mb-6 pl-2 pb-2 pr-2">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@transport.Name</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudToggleIconButton @bind-Toggled="@transport.DisplayPhone"
                                             Icon="@Icons.Filled.Call" Color="Color.Primary" Size="Size.Large"
                                             ToggledIcon="@Icons.Filled.Call" ToggledColor="@Color.Error" ToggledSize="Size.Large" />
                            <MudPopover Open="@transport.DisplayPhone" Fixed="true" Elevation="0" Class="pa-4">
                                <MudText Typo="Typo.h5" Color="Color.Primary">@transport.Phone</MudText>
                            </MudPopover>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <div>
                            <MudIcon Icon="@Icons.Filled.LocationCity" Size="Size.Medium" Class="d-inline-block pb-1" />
                            <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                <span class="fw-bold">@transport.Destination.City.Name, @transport.Destination.Region.Name</span>
                            </MudText>
                        </div>
                        <div class="mt-2">
                            <MudIcon Icon="@Icons.Filled.PeopleAlt" Size="Size.Medium" Class="d-inline-block pb-1" />
                            <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                <span class="fw-bold">@transport.AdultSeats adulți, @transport.ChildSeats copii</span>
                            </MudText>
                        </div>
                        @if (transport.LeavesAt.HasValue)
                        {
                            <div class="mt-2">
                                @if (transport.LeavesAt.Value.Date == DateTime.Today)
                                {
                                    <MudIcon Icon="@Icons.Filled.AccessTime" Size="Size.Medium" Color="Color.Warning" Class="d-inline-block pb-1" />
                                    <MudText Typo="Typo.body1" Color="Color.Warning" Class="d-inline-block ml-2">
                                        Pleacă la: <span class="fw-bold">@($"{transport.LeavesAt:HH:mm - dd.MM.yyyy}")</span>
                                    </MudText>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.AccessTime" Size="Size.Medium" Class="d-inline-block pb-1" />
                                    <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                        Pleacă la: <span class="fw-bold">@($"{transport.LeavesAt:HH:mm - dd.MM.yyyy}")</span>
                                    </MudText>
                                }
                            </div>
                        }
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-space-between">
                        <div>
                            @*<MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Filled.Check" DisableElevation="true">
                                Rezolvat
                            </MudButton>*@
                        </div>
                        <div>
                            <MudButton OnClick="@(() => DeactivateOffer(transport))" Variant="Variant.Text"
                                   Color="Color.Error" StartIcon="@Icons.Filled.Cancel" DisableElevation="true">
                                Nu mai e valabil
                            </MudButton>
                        </div>
                    </MudCardActions>
                </MudCard>
            }

            <div hidden="@(Result.TransportResults.Count != 0)">
                <MudText>
                    Nu am găsit rezultate.<br />
                    Încearcă să cauți mai multe oferte pe site-ul <MudLink Href="https://refugees.ro/" Target="_blank">refugees.ro</MudLink>.
                </MudText>
            </div>
        </MudTabPanel>
        @if (Result.SearchedForShelter)
        {
            <MudTabPanel Text="Adăpost" Icon="@Icons.Filled.Home">
                @foreach (var shelter in Result.ShelterResults.Where(s => s.IsActive))
                {
                    <MudCard Class="mb-6 pl-2 pb-2 pr-2">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@shelter.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudToggleIconButton @bind-Toggled="@shelter.DisplayPhone"
                                             Icon="@Icons.Filled.Call" Color="Color.Primary" Size="Size.Large"
                                             ToggledIcon="@Icons.Filled.Call" ToggledColor="@Color.Error" ToggledSize="Size.Large" />
                                <MudPopover Open="@shelter.DisplayPhone" Fixed="true" Elevation="0" Class="pa-4">
                                    <MudText Typo="Typo.h5" Color="Color.Primary">@shelter.Phone</MudText>
                                </MudPopover>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <div>
                                <MudIcon Icon="@Icons.Filled.LocationCity" Size="Size.Medium" Class="d-inline-block pb-1" />
                                <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                    <span class="fw-bold">@shelter.Address.City.Name, @shelter.Address.Region.Name</span>
                                </MudText>
                            </div>
                            <div class="mt-2">
                                <MudIcon Icon="@Icons.Filled.PeopleAlt" Size="Size.Medium" Class="d-inline-block pb-1" />
                                <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                    <span class="fw-bold">@shelter.AdultCapacity adulți, @shelter.ChildrenCapacity copii </span>
                                </MudText>
                            </div>
                            <div class="mt-2">
                                <MudIcon Icon="@Icons.Filled.AccessTime" Size="Size.Medium" Class="d-inline-block pb-1" />
                                <MudText Typo="Typo.body1" Class="d-inline-block ml-2">
                                    Perioadă: <span class="fw-bold">@shelter.Period.Text()</span>
                                </MudText>
                            </div>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-space-between">
                            <div>
                                @*<MudButton Variant="Variant.Filled" Color="Color.Success"
                                   StartIcon="@Icons.Filled.Check" DisableElevation="true">
                                    Rezolvat
                                </MudButton>*@
                            </div>
                            <div>
                                <MudButton OnClick="@(() => DeactivateOffer(shelter))" Variant="Variant.Text"
                                   Color="Color.Error" StartIcon="@Icons.Filled.Cancel" DisableElevation="true">
                                    Nu mai e valabil
                                </MudButton>
                            </div>
                        </MudCardActions>
                    </MudCard>
                }

                <div hidden="@(Result.ShelterResults.Count != 0)">
                    <MudText>
                        Nu am găsit rezultate.<br />
                        Încearcă să cauți mai multe oferte pe site-ul <MudLink Href="https://refugees.ro/" Target="_blank">refugees.ro</MudLink>.
                    </MudText>
                </div>
            </MudTabPanel>
        }
    </MudTabs>
</div>

@code {

    [Parameter]
    public SearchOffersResult Result { get; set; } = new SearchOffersResult();

    public bool _isOpen;

    private void DeactivateOffer(SearchOffersResult.OfferResultBase offer)
    {
        var parameters = new DialogParameters();
        parameters.Add("Offer", offer);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small };

        DialogService.Show<DeactivateOfferDialog>("Dezactivare ofertă", parameters, options);
    }

}